<div id="homeCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="">
                <div class="fill" style="background: url(./assets/images/01_Branding_Panel_img.png) no-repeat;"></div>
                <div class="slideContent">
                    <h2>Brand Strategy</h2>
                    <p>Our brand development process merges traditional brand planning methodologies with a new world digital approach to developing brand. Our process focuses on developing a brands position in market, tone or voice, personality and communication platform.</p>
                    <div><p class="view-more">View the work</p></div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="">
                <div class="fill" style="background:url(./assets/images/02_CRO_Panel_img.png) no-repeat;"></div>
                <div class="slideContent">
                    <h2>Conversion Rate Optimisation</h2>
                    <p>Whether you are looking to increase leads, sales, newsletter sign-ups or improve site engagement, we can help. Our Full-service Optimisation Program helps provide clients with a robust solution across web and mobile.</p>
                    <div><p class="view-more">Learn More</p></div>
                </div>
            </a>
        </div>
    </div>
</div>