<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="logo logoDesktop">
            <a href="http://newrepublique.com/">
                <img src="./assets/images/logo.png">
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">
                <a href="http://newrepublique.com/">
                    <img src="./assets/images/LOGO_TextOnly.png">
                </a>
            </span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul>
                <li><a href="">about us<span rel="about us"></span></a></li>
                <li><a href="">work<span rel="work"></span></a></li>
                <li><a href="">services<span rel="services"></span></a></li>
                <li><a href="">blog<span rel="blog"></span></a></li>
                <li><a href="">research<span rel="research"></span></a></li>
                <li><a href="">careers<span rel="careers"></span></a></li>
                <li><a href="">contact us<span rel="contact us"></span></a></li>
            </ul>
        </div><!--/nav -->
    </div>
</div>